/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@500;700&family=Work+Sans:wght@700&display=swap');
/* common styles */
body{
    font-family: 'Work Sans', sans-serif;
    width: 1920px;
    height: 1318px;
}
header{
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 89px;
}
/* this is nav */
nav{  
    margin-left: 228px;
    margin-right: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title{
    font-size: 45px;
    color: #131313;;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 0;
    padding: 20px;
    color: #424242;
}

.btn-primary{
    color: #ffffff;
    font-weight: 600;
font-size: 20px;
background: #FF900E;
border-radius: 8px;
border: none;
width: 180px;
height: 64px;
}
.banner{
    text-align: center;
    margin-left: 529px;
    margin-right: 529px;
}
.banner-title{
    
    font-size: 64px;
}

.b-banner img{
    margin: 50px 240px 41px 240px;
}
/* styles of features */
.features{
    display: flex;
    align-items: center;
    gap: 72px;
    margin-right: 301px;
    margin-left: 301px;
}
.feature-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
span.p1{
    color: #727272;
    font-size: 45px;
}
span.p2{
    color: #FF900E;
    font-size: 45px;
}
/* 2nd feature */
.second-feature{
    margin:130px 240px ;
    display: flex;
    gap: 54px;
}
.skills{
    width: 586px;
height: 982px;
}
.skill-des p{
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    
}
.skill-info{
    display: grid;
    grid-row-gap: 20px;
}
.skill-des{
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 10px 42px 10px 30px;

}
h2{
    font-size: 45px;
}
p{
    font-size: 16px;
    color: #727272;
    
}
.skill-title{
    font-size: 20px;
    color: #131313;
    
}
h2.b{
    /* margin-left: 21px; */
    padding-left: 20px;
    border: 5px solid #FF900E;
    border-right: none;
    border-top: none;
    border-bottom: none;
    
}
.btn-primary.btn-skill{
    width: 342px;
height: 200px;


}


.btn-skill.h2{
    font-size: 65px;

}

/* facts section */
.fact-info{
    margin-right: 1138px;
    margin-left: 240px;
    margin-bottom: 100px;
}
.fact{
    display: grid;
    
    justify-items: center;
    /* transform: rotate(90deg); */
    width: 241.83px;
    height: 241.83px;
    border: 1.5px solid #FF900E;
    border-radius: 8px;  
    padding-top: 46px;
}

.facts{
    display: flex;
    gap: 124px;
   align-items: center;
   margin-left: 290px;
   margin-right: 290px;
   
    
}
/* this is sponsors area*/
.sponsors{
    text-align: center;
    margin: 180px 689px 50px 689px;
    
}
.sponsor img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
.sponsors-list{
    display: flex;
    gap: 155px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 130px;
}
/* footer */
footer{
    background: #FFF4E7;
border-radius: 8px;
margin-right: 240px;
margin-left: 240px;


}
.end{
    padding: 39px 410px;
}
/* mobile devices */
@media only screen and (max-width: 688px) {
    nav{  
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .banner,.facts,.sponsors,.sponsors-list,.feature-2{
        text-align: left;
        padding-right: 529px;
        margin-left: 0;
    }
    .b-banner img{
        width: 50%;
        margin: 0;
    }
    .feature-1{
        grid-template-columns: repeat(2, 1fr);    
    }
    .features, .second-feature{
        flex-direction: column;
        margin-left: 0;
        align-items: flex-start;
        
    }
    
    
}
